* { box-sizing: border-box; }

body {
  background-color: white;
  margin: 0;
}

svg {
  width: 100%;
}

.spiral-reveal {
  clip-path: url('#clip-spiral');
  fill: none;
  stroke-width: 80px;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: draw 1.5s cubic-bezier(.7,.03,1,.2) forwards;
  stroke-linecap: round;
}

.purple-spiral {
  stroke: #8150CE;
  animation-delay: 2.5s;
}

.orange-spiral {
  stroke: rgb(255, 171, 74);
  animation-delay: 2.45s;
}

.grey-spiral {
  stroke: grey;
  animation-delay: 2.4s;
}

.purple-circle {
  clip-path: url('#clip-circle');
  fill: #8150CE;
  fill-rule: evenodd;
  animation: grow 1s cubic-bezier(.94,-0.01,1,.45) forwards;
  transform: scale(0);
  transform-origin: 450px 250px;
  animation-delay: 1s, 2.1s;
}

#orange-grey-clip-stripe {
  clip-path: url('#clip-circle');
}

.stripe-reveal {
  clip-path: url('#orange-grey-clip-stripe');
  fill: none;
  stroke-width: 35;
  stroke-dasharray: 400;
  stroke-dashoffset: 1000;
  animation: drawDisappear 1.5s forwards,
  grow 1s cubic-bezier(.94,-0.01,1,.45) forwards;;
  transform: scale(0);
  transform-origin: 450px 250px;
}

.purple-stripe {
  clip-path: url('#clip-circle');
  stroke: #8150CE;
  animation-delay: 2s, 1s;
}

.orange-stripe {
  stroke: rgb(255, 171, 74);
  animation-delay: 2.2s, 1s;
}

.grey-stripe {
  stroke: grey;
  animation-delay: 2.1s, 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawDisappear {
  to {
    stroke-dashoffset: 400;
  }
}

@keyframes grow {
  to {
    transform: scale(1);
  }
}

.oval {
  transform: scale(1) rotate(-35deg);
  transform-origin: 450px 250px;
  animation: shrink 1s forwards;
}

.purple-oval {
  fill: #8150CE;
  animation-delay: 0s;
}

.grey-oval {
  fill: grey;
  animation-delay: .1s;
}

.orange-oval {
  fill: rgb(255, 171, 74);
  animation-delay: .2s;
}

@keyframes shrink {
  to {
    transform: scale(0) rotate(-35deg);
    background: #8150CE;
  }
}